i.logo {
    font-family: "Coda";
    font-size: 1.8em;
    font-weight: bold;
}

.logo > a {
    color: #ddd;
    text-decoration: none;
    transition-duration: 0.5s;
}

    .logo > a:hover {
        color: #fff;
        transition: ease;
        text-decoration: none;
        transition-duration: 0.5s;
    }

.page-content {
    padding: 20px;
    margin: 10px auto;
}

.page-heading {
    color: #e9e8e7;
}

