<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bubbl</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" type="text/css" />
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a asp-controller="Content" asp-action="Timeline" class="navbar-brand">bubbl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Content" asp-action="Index">Content</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="page-content">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Styles",required: false)
    @RenderSection("Scripts",required: false)

    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
    <script src="https://use.fontawesome.com/6110b02b27.js"></script>
</body>
</html>
