<script src="@Url.Content("~/js/timeline.jsx")"></script>

<header>
    <nav class="bars">
        <i class="fas fa-bars" data-toggle="popover" data-placement="bottom" data-content="<a class='nav-link' href='/Content/Timeline'>Timeline</a><br><a class='nav-link' href='/Content'>Contents</a>"></i>
    </nav>
    <nav class="plus">
        <i class="fas fa-plus"></i>
    </nav>
</header>

@Html.React("BubbleContainer", new {
    contents = Model
})

@Html.ReactInitJavaScript()
